@model Lincoln.Admin.Web.Models.QuestionSetUpViewModel
@{
    ViewBag.Title = "Question SetUp";
    Layout = "~/Areas/Faculty/Views/Shared/_FacultyLayout.cshtml";
}
<script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Base style table -->
        <section id="basic-form-layouts">
            <div class="row">
                <div class="col-12">
                    <div class="cardk">
                        <div class="card-body">
                            <div class="row">

                                <div class="form-group col-lg-4">
                                    <label><b>Examination Section<span class="requiredstar">*</span> </b></label>
                                    <div class="position-relative has-icon-left">
                                        @Html.DropDownListFor(a => a.ExamSectionID, Model.ExamSectionList, "Select Exam Section", new { @class = "custom-select block" })
                                        
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard paperdetails">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--/ Base style table -->
    </div>
</div>
<script>




    $(document).on("change", "#ExamSectionID", function () {
        if ($('#ExamSectionID').val()!='') {
            $('.paperdetails').load('/Faculty/Faculty/AddQuestion/' + $('#ExamSectionID').val());
        }
        else {
            $('.paperdetails').html('');
        }
    });


    function fnSavePaperDetails() {
        var model = {
            DepartmentID: $('#DepartmentID').val(),
            ProgrammeID: $('#ProgrammeID').val(),
            CountryID: $('#CountryID').val(),
            ProgrammeYear: $('#ProgrammeYear').val(),
            ProgrammeSemester: $('#ProgrammeSemester').val(),
            CourseID: $('#CourseID').val(),
            SectionName: $('#SectionName').val(),
            SyllabusVersionID: $('#SyllabusVersionID').val(),
            PaperDetailsID: $('#PaperDetailsID').val(),
            PaperID: $('#PaperID').val(),
            QuestionType: $('input[name="QuestionType"]:checked').val(),
            QuestionNo: $('#QuestionNo').val(),
            QuestionText: $('#QuestionText').val(),
            TextOrImageQuestion: $('#TextOrImageQuestion').val(),
            AudioOrVideoQuestion: $('#AudioOrVideoQuestion').val(),
            QuestionMarks: $('#QuestionMarks').val(),
            OptionANo: 1,
            OptionAText: $('#OptionAText').val(),
            OptionBNo: 2,
            OptionBText: $('#OptionBText').val(),
            OptionCNo: 3,
            OptionCText: $('#OptionCText').val(),
            OptionDNo: 4,
            OptionDText: $('#OptionDText').val(),
            OptionENo: 5,
            OptionEText: $('#OptionEText').val(),
            AnswerNo: $('#AnswerNo').val(),
            AnswerText: $('#AnswerText').val()
        };
        @*$.ajax({
            url: '@Url.Action("SavePaperDetails", "Faculty",new {area= "Faculty" })',
            data: JSON.stringify(model),
            type: 'POST',
            cache: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result > 0) {
                    alert('Data Save Successfully.');

                } else {
                    alert('Error in your requst.');

                }
            },
            error: function (e) {
                alert('Error in your requst.');
            }
        });*@

    }

</script>
