@model IEnumerable<Lincoln.Admin.Web.Models.imagesviewmodel>
@{
    
    Layout = null;
}
@foreach (var image in Model)
{
    
    <a href="#" class="returnImage" data-url="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url">
        <img src="@image.Url" alt="Hejsan" id="#image" data-source="@image.Url" width="200" height="200" />
    </a>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".returnImage").click("click", function (e) {
            debugger;
            var urlImage = $(this).attr("data-url");
            window.opener.updateValue("cke_89_textInput", urlImage);
            window.close();
        });
    });
</script>
