<input type="hidden" name="qno" id="qno" value="" />
<p style="text-align: justify; padding-left:10px; padding-top:10px;">
    Q.1
</p>
<hr />
<div class="col-sm-12">

    <div class="col-sm-12 part-br">
        <div id="QuestionText">

            <p><math xmlns="http://www.w3.org/1998/Math/MathML"><msup><mi>a</mi><mn>2</mn></msup><mo>+</mo><msup><mi>b</mi><mn>2</mn></msup></math>
            Test 
            </p>


        </div>

        <input type="radio" id="opt1" name="radio-1-set" value="1" />
        <label for="opt1"></label><strong>5%</strong><br />

        <input type="radio" id="opt2" name="radio-1-set" value="2" />
        <label for="opt2"></label> <strong>7%</strong><br />

        <input type="radio" id="opt3" name="radio-1-set" value="3" />
        <label for="opt3"></label><strong>8%</strong><br />

        <input type="radio" id="opt4" name="radio-1-set" value="4" />
        <label for="opt4"></label><strong>8.5%</strong><br />

    </div>
</div>
<script>

    CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://www.wiris.net/demo/plugins/ckeditor/', 'plugin.js');
    CKEDITOR.replace('QuestionText', {
        allowedContent: true,
        extraPlugins: 'ckeditor_wiris',
        readOnly: true,
        on:
   {
       instanceReady: function (evt) {
           // Hide the editor top bar.
           document.getElementById('cke_1_top').style.display = 'none';
       }
   }
    });
</script>