<input type="hidden" name="qno" id="qno" value="" />
<p style="text-align: justify; padding-left:10px; padding-top:10px;">
    Q.1
</p>
<hr />
<div class="col-sm-12">
    <div class="col-sm-6">
        <p style="text-align: justify;">
            <strong>
                Out of Rs. 70000, Ram invested Rs. 30000 at 4% and Rs. 20000 at 3% simple interest.
                At what rate of interest he must invest the balance so as to got a return of 5% on the
                whole amount per year.
                <br />
            </strong>&nbsp;
        </p>
    </div>
    <div class="col-sm-6 part-br">
        <p style="text-align: justify;">
            <strong>
                Out of Rs. 70000, Ram invested Rs. 30000 at 4% and Rs. 20000 at 3% simple interest.
                At what rate of interest he must invest the balance so as to got a return of 5% on the
                whole amount per year.
                <br />
            </strong>&nbsp;
        </p>

        <input type="radio" id="opt1" name="radio-1-set" value="1" />
        <label for="opt1"></label><strong>5%</strong><br />

        <input type="radio" id="opt2" name="radio-1-set" value="2" />
        <label for="opt2"></label> <strong>7%</strong><br />

        <input type="radio" id="opt3" name="radio-1-set" value="3" />
        <label for="opt3"></label><strong>8%</strong><br />

        <input type="radio" id="opt4" name="radio-1-set" value="4" />
        <label for="opt4"></label><strong>8.5%</strong><br />

    </div>
</div>