
@model Lincoln.Admin.Web.Models.AnswerSetUpdViewModel
@{
    ViewBag.Title = "Answer SetUp";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    }
<style>
    .hidden {
        display: none;
    }
</style>
<script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>

<div class="content-wrapper">
    <div class="content-body">
        <!-- Stats -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <!--PAGE CONTENT -->
                <div id="online">
                    <div class="inner" style="min-height: 560px;">
                        <div class="row">
                            <div class="col-lg-12">
                            </div>
                        </div>
                        <br />
                        <div>
                            <div class="row bdstyl">
                                <!-- GRID SHOW START -->
                                <div class="row-fluid" style="width:96%; margin-left:2%;">
                                    <div class="span12">
                                        <!-- BEGIN BASIC PORTLET-->
                                        <div class="widgetk orange">
                                            <div class="widgetk-title">
                                                <center>
                                                    <h4><i class="icon-reorder"></i> Online Examination Start Now </h4>
                                                </center>
                                            </div>
                                            <div class="widgetk-body">
                                                <div class="scrollable">
                                                    <!--ONLINE ANSWER PAPER SHOW START -->
                                                    <!--==========================-->
                                                    <section class="main-page">
                                                        <div class="containerk">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-12 col-sm-12">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="control-label col-lg-10"><span style="float:right; padding-top:10px;"> VIEW LANGUAGE IN : </span></label>
                                                                                <div class="col-lg-2">
                                                                                    <div class="form-group">
                                                                                        <select class="custom-select block" id="ddlLanguage">
                                                                                            <option selected>English #E001</option>
                                                                                            <option value="1">Bengali #B001</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading">
                                                                                    <center>
                                                                                        <span>
                                                                                            Time Left: <span id="timer" class="timerclass">00 : 90 : 16</span>
                                                                                        </span>
                                                                                    </center>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="panel-b">
                                                                                <ul class="navk navk-pills navk-justified" style="width:100%;">
                                                                                    <li class="active">
                                                                                        <a>
                                                                                            Online Examination [Bank IBPS OET-001]
                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-sm-8">
                                                                            <div class="panel panel-default" style="padding:10px; color:#ffffff;">
                                                                                <center>
                                                                                    <a id="mark_next" style="cursor:pointer" class="load_more btnk btnk-primary"><span>General English</span></a>
                                                                                    <a id="save_next" style="cursor:pointer" class="load_more btnk btnk-primary"><span>Reasoning</span></a>
                                                                                    <a id="clear" class="clear btnk btnk-primary"><span>Quantitative Aptitude</span></a>
                                                                                    <a class="btnk btnk-primary"><span>General Awareness</span></a>
                                                                                </center>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-8">
                                                                            <div class="panel panel-default" style="height: 500px; overflow-y: scroll;">
                                                                                <div class="exam-que">
                                                                                    @{ Html.RenderAction("AnswerPaper", "Student", new {area="Student" });}
                                                                                    <br />
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- /.col-sm-8 -->
                                                                        <div class="col-sm-4">
                                                                            <div class="panel panel-default">
                                                                                <div class="exam-pallet questionNoPallet" style="overflow-y: scroll;height:500px;">
                                                                                    <b>
                                                                                        <a name="0" onclick="getQusetion(this.id)" class="button_load btnk btnk-danger btnk-sm"
                                                                                           id="0" role="button" style="width:50px;margin:3px">1</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="1" onclick="getQusetion(this.id)" class="button_load btnk btnk-success btnk-sm"
                                                                                           id="1" role="button" style="width:50px;margin:3px">2</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="2" onclick="getQusetion(this.id)" class="button_load btnk btnk-info btnk-sm"
                                                                                           id="2" role="button" style="width:50px;margin:3px">3</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="3" onclick="getQusetion(this.id)" class="button_load btnk btnk-warning btnk-sm"
                                                                                           id="3" role="button" style="width:50px;margin:3px">4</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="4" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="4" role="button" style="width:50px;margin:3px">5</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="5" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="5" role="button" style="width:50px;margin:3px">6</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="6" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="6" role="button" style="width:50px;margin:3px">7</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="7" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="7" role="button" style="width:50px;margin:3px">8</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="8" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="8" role="button" style="width:50px;margin:3px">9</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="9" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="9" role="button" style="width:50px;margin:3px">10</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="10" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="10" role="button" style="width:50px;margin:3px">11</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="11" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="11" role="button" style="width:50px;margin:3px">12</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="12" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="12" role="button" style="width:50px;margin:3px">13</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="13" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="13" role="button" style="width:50px;margin:3px">14</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="14" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="14" role="button" style="width:50px;margin:3px">15</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="15" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="15" role="button" style="width:50px;margin:3px">16</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="16" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="16" role="button" style="width:50px;margin:3px">17</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="17" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="17" role="button" style="width:50px;margin:3px">18</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="18" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="18" role="button" style="width:50px;margin:3px">19</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="19" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="19" role="button" style="width:50px;margin:3px">20</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="20" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="20" role="button" style="width:50px;margin:3px">21</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="21" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="21" role="button" style="width:50px;margin:3px">22</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="22" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="22" role="button" style="width:50px;margin:3px">23</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="23" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="23" role="button" style="width:50px;margin:3px">24</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="24" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="24" role="button" style="width:50px;margin:3px">25</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="25" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="25" role="button" style="width:50px;margin:3px">26</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="26" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="26" role="button" style="width:50px;margin:3px">27</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="27" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="27" role="button" style="width:50px;margin:3px">28</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="28" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="28" role="button" style="width:50px;margin:3px">29</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="29" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="29" role="button" style="width:50px;margin:3px">30</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="30" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="30" role="button" style="width:50px;margin:3px">31</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="31" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="31" role="button" style="width:50px;margin:3px">32</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="32" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="32" role="button" style="width:50px;margin:3px">33</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="33" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="33" role="button" style="width:50px;margin:3px">34</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="34" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="34" role="button" style="width:50px;margin:3px">35</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="35" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="35" role="button" style="width:50px;margin:3px">36</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="36" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="36" role="button" style="width:50px;margin:3px">37</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="37" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="37" role="button" style="width:50px;margin:3px">38</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="38" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="38" role="button" style="width:50px;margin:3px">39</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="39" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="39" role="button" style="width:50px;margin:3px">40</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="40" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="40" role="button" style="width:50px;margin:3px">41</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="41" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="41" role="button" style="width:50px;margin:3px">42</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="42" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="42" role="button" style="width:50px;margin:3px">43</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="43" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="43" role="button" style="width:50px;margin:3px">44</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="44" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="44" role="button" style="width:50px;margin:3px">45</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="45" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="45" role="button" style="width:50px;margin:3px">46</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="46" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="46" role="button" style="width:50px;margin:3px">47</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="47" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="47" role="button" style="width:50px;margin:3px">48</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="48" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="48" role="button" style="width:50px;margin:3px">49</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="49" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="49" role="button" style="width:50px;margin:3px">50</a>
                                                                                    </b>

                                                                                    <b>
                                                                                        <a name="50" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="50" role="button" style="width:50px;margin:3px">51</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="51" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="51" role="button" style="width:50px;margin:3px">52</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="52" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="52" role="button" style="width:50px;margin:3px">53</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="53" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="53" role="button" style="width:50px;margin:3px">54</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="54" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="54" role="button" style="width:50px;margin:3px">55</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="55" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="55" role="button" style="width:50px;margin:3px">56</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="56" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="56" role="button" style="width:50px;margin:3px">57</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="57" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="57" role="button" style="width:50px;margin:3px">58</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="58" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="58" role="button" style="width:50px;margin:3px">59</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="59" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="59" role="button" style="width:50px;margin:3px">60</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="60" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="60" role="button" style="width:50px;margin:3px">61</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="61" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="61" role="button" style="width:50px;margin:3px">62</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="62" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="62" role="button" style="width:50px;margin:3px">63</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="63" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="63" role="button" style="width:50px;margin:3px">64</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="64" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="64" role="button" style="width:50px;margin:3px">65</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="65" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="65" role="button" style="width:50px;margin:3px">66</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="66" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="66" role="button" style="width:50px;margin:3px">67</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="67" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="67" role="button" style="width:50px;margin:3px">68</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="68" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="68" role="button" style="width:50px;margin:3px">69</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="69" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="69" role="button" style="width:50px;margin:3px">70</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="70" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="70" role="button" style="width:50px;margin:3px">71</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="71" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="71" role="button" style="width:50px;margin:3px">72</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="72" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="72" role="button" style="width:50px;margin:3px">73</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="73" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="73" role="button" style="width:50px;margin:3px">74</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="74" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="74" role="button" style="width:50px;margin:3px">75</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="75" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="75" role="button" style="width:50px;margin:3px">76</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="76" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="76" role="button" style="width:50px;margin:3px">77</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="77" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="77" role="button" style="width:50px;margin:3px">78</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="78" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="78" role="button" style="width:50px;margin:3px">79</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="79" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="79" role="button" style="width:50px;margin:3px">80</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="80" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="80" role="button" style="width:50px;margin:3px">81</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="81" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="81" role="button" style="width:50px;margin:3px">82</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="82" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="82" role="button" style="width:50px;margin:3px">83</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="83" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="83" role="button" style="width:50px;margin:3px">84</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="84" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="84" role="button" style="width:50px;margin:3px">85</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="85" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="85" role="button" style="width:50px;margin:3px">86</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="86" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="86" role="button" style="width:50px;margin:3px">87</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="87" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="87" role="button" style="width:50px;margin:3px">88</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="88" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="88" role="button" style="width:50px;margin:3px">89</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="89" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="89" role="button" style="width:50px;margin:3px">90</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="90" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="90" role="button" style="width:50px;margin:3px">91</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="91" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="91" role="button" style="width:50px;margin:3px">92</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="92" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="92" role="button" style="width:50px;margin:3px">93</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="93" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="93" role="button" style="width:50px;margin:3px">94</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="94" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="94" role="button" style="width:50px;margin:3px">95</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="95" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="95" role="button" style="width:50px;margin:3px">96</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="96" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="96" role="button" style="width:50px;margin:3px">97</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="97" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="97" role="button" style="width:50px;margin:3px">98</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="98" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="98" role="button" style="width:50px;margin:3px">99</a>
                                                                                    </b>
                                                                                    <b>
                                                                                        <a name="99" onclick="getQusetion(this.id)" class="button_load btnk btnk-default btnk-sm"
                                                                                           id="99" role="button" style="width:50px;margin:3px">100</a>
                                                                                    </b>
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- /.col-sm-4 -->
                                                                    </div><!-- /.row -->
                                                                    <div class="row">
                                                                        <div class="col-sm-8">
                                                                            <div class="panel panel-default" style="padding: 10px; color: #ffffff;">
                                                                                <center>
                                                                                    <a id="mark_next" style="cursor:pointer" class="load_more btnk btnk-primary" onclick="getMark()"><span>Mark Review &amp; Next</span></a>
                                                                                    <a id="save_next" style="cursor:pointer" class="load_more btnk btnk-primary" onclick="getSave()"><span>Save &amp; Next</span></a>
                                                                                    <a id="clear" class="clear btnk btnk-primary" onclick="getClear()"><span>Clear</span></a>
                                                                                    <a class="btnk btnk-primary" onclick="submitExam()"><span>Submit</span></a>
                                                                                </center>
                                                                            </div>
                                                                        </div><!-- /.col-sm-8 -->
                                                                        <div class="col-sm-4">
                                                                            <div class="panel panel-default" style="padding:10px">
                                                                                <a class="btnk btnk-danger btnk-sm">&nbsp;&nbsp;</a>&nbsp;Not Answered &nbsp;&nbsp;
                                                                                <a class="btnk btnk-success btnk-sm">&nbsp;&nbsp;</a>&nbsp;Answered &nbsp;&nbsp;
                                                                                <a class="btnk btnk-info btnk-sm">&nbsp;&nbsp;</a>&nbsp;Marked For Review &nbsp;&nbsp;
                                                                                <a class="btnk btnk-warning btnk-sm">&nbsp;&nbsp;</a>&nbsp;Answered Marked For Review &nbsp;&nbsp;
                                                                                <a class="btnk btnk-default btnk-sm">&nbsp;&nbsp;</a>&nbsp;Not Visited&nbsp;&nbsp;
                                                                            </div>
                                                                        </div><!-- /.col-sm-4 -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.container -->
                                                    </section>
                                                    <!--==========================-->
                                                    <!--ONLINE ANSWER PAPER SHOW END -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END BASIC PORTLET-->
                                    </div>
                                </div>
                                <!-- GRID SHOW END -->
                                <br />
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END PAGE CONTENT -->
            </div>
        </div>
        <!--/ Stats -->
    </div>
</div>