@model Lincoln.Admin.Web.Models.AcademicViewModel

<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <form id="myForm">
                <!--PAGE CONTENT BEGINS-->
                <div class="modal-body">

                    @*<label><b>Academic Code</b> </label>
                <div class="form-group">
                    <div class="position-relative has-icon-left">
                        @Html.TextBoxFor(a => a.AcademicCode, new { @class = "form-control" })

                        <div class="form-control-position">
                            <i class="fa fa-book"></i>
                        </div>
                    </div>
                </div>*@
                    <label><b>NEC Level<span class="requiredstar">*</span></b> </label>
                    <div class="form-group">
                        <div class="position-relative has-icon-left">
                            @Html.TextBoxFor(a => a.AcademicName, new { @class = "form-control" })
                            <div class="form-control-position">
                                <i class="fa fa-book"></i>
                            </div>
                           <span id="AcademicNameVal" style="color:red;display:none" class="valClass"></span>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="fnSaveAcademicLevel(@Model.AcademicID)">
                        <i class="fa fa-check-square-o"></i> Save
                    </button>
                </div>
            </form>
            <!--PAGE CONTENT ENDS-->
        </div>
    </div>
    <!--main contant end-->
</div>




