

@model Lincoln.Admin.Web.Models.ExaminationNameViewModel
<style>
    .bootstrap-datetimepicker-widget .weekend {
        color: red;
    }
</style>

<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <!--PAGE CONTENT BEGINS-->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <div class="position-relative has-icon-left">
                            <label><b>Examination Name<span class="requiredstar">*</span></b> </label>
                            <div class="position-relative has-icon-left">
                                @Html.TextBoxFor(a => a.ExaminationName, new { @class = "form-control" })
                                <div class="form-control-position">
                                    <i class="fa fa-book"></i>
                                </div>
                                <span id="ExaminationNameVal" style="color:red;display:none" class="valClass"></span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Examination Start Date<span class="requiredstar">*</span> </label>
                        <div class="position-relative has-icon-left">
                            @Html.TextBoxFor(a => a.StartDate, new { @class = "form-control",autocomplete="off" })
                            <div class="form-control-position">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <span id="StartDateVal" style="color:red;display:none" class="valClass"></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Examination End Date<span class="requiredstar">*</span> </label>
                        <div class="position-relative has-icon-left">
                            @Html.TextBoxFor(a => a.EndDate, new { @class = "form-control", autocomplete = "off" })
                            <div class="form-control-position">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <span id="EndDateVal" style="color:red;display:none" class="valClass"></span>
                        </div>
                    </div>
                   
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" onclick="fnSaveExaminationName(@Model.ExaminationNameID)" class="btn btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                </button>
            </div>
            <!--PAGE CONTENT ENDS-->
        </div>
    </div>
    <!--main contant end-->
</div>
<script>

    //$(document).on("focus", "#StartDate", function () {
    //    debugger;
    //    $('#StartDate').datetimepicker({
    //        format: 'DD/MM/YYYY',
    //        minDate: new Date(),
    //        daysOfWeekDisabled: [6]
    //    });

    //});
    //$(document).on("focus", "#EndDate", function () {
    //    $('#EndDate').datetimepicker({
    //        format: 'DD/MM/YYYY',
    //        minDate: convertInputtoDate(),
    //        daysOfWeekDisabled: [6]
    //    });
    //});
    //function convertInputtoDate() {
    //    var input = $("#StartDate").datetimepicker().val();
    //    var date = input.split('/');
    //    var formatedDate = date[1] + "/" + date[0] + "/" + date[2];
    //    var selectdate = new Date(formatedDate);
    //    selectdate.setDate(selectdate.getDate() + 15);
    //    return selectdate;
    //}


</script>