
@model Lincoln.Admin.Web.Models.SubjectAllocationViewModel

<table cellpadding="0" cellspacing="0" class="Grid">
    <tr>
        <th></th>
        <th>SL.NO</th>
        <th>Semester</th>
        <th>City</th>
    </tr>
    @foreach (var item in Model.SubAllocationList)
    {
        <tr>
            <td>
                @*<img src="~/Images/plus.png" />*@
                <img src="~/Content/assets/images/plus.png" />
                <div style="display:none">
                    <table cellpadding="0" cellspacing="0" class="ChildGrid">
                        <tr>
                            <th>SL.NO</th>
                            <th>Course</th>
                            <th>Allocate</th>
                        </tr>
                        @foreach (var item2 in Model.AllocationList?.SubAllocationDetailsList?.Where(a=>a.ProgrammeSemesterID==item.SemisterID))
                        {
                            <tr>
                                <td><label class="form-control" id="SubjectAllocationDetailsID" name="SubjectAllocationDetailsID[]" value=1 placeholder="Name" /> &nbsp;</td>
                                <td>
                                    @Html.HiddenFor(a => item2.SubjectAllocationDetailsID)
                                    @Html.LabelFor(a => item2.CourseName, new { @class = "form-control" })
                                </td>
                                <td><input type="checkbox" name="name" value="" /></td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
            <td>
                <label class="form-control" id="SubjectAllocationID" name="SubjectAllocationID[]" value=@item.SemisterID placeholder="Name" />
            </td>
            <td>
                @Html.HiddenFor(a => item.SubjectAllocationID)
                @Html.LabelFor(a => item.SemisterName, new { @class = "form-control" })
            </td>
            <td>Kolkata</td>
        </tr>
    }
</table>
