
@{
    ViewBag.Title = "Batch";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Base style table -->
        <section id="base-style">
            <div class="row">
                <div class="col-12">
                    <div class="cardk">
                        <div class="card-header">
                            <h4 class="card-title">Batch Records</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="form-group pull-left" style="padding-left:22px; padding-top:10px;">
                                <select class="custom-select block" id="ddlLanguage">
                                    <option selected>Action</option>
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                </select>
                            </div>
                            <div class="pull-right tableTools-container" style="padding-right:22px; padding-top:10px;">
                                <div class="dt-buttons btn-overlap btn-group">
                                    <a class="dt-button buttons-copy buttons-html5 btn btn-white btn-primary btn-bold" onclick="fnAddBatch()" title="Add Batch Entry">
                                        <span>
                                            <i class="fa fa-plus bigger-110" style="color:#ffffff"></i>
                                            <span class="hidden">Add</span>
                                        </span>
                                    </a>
                                    <a class="dt-button buttons-excel buttons-flash btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Export to Excel">
                                        <span>
                                            <i class="fa fa-file-excel-o bigger-110"></i>
                                            <span class="hidden">Export to Excel</span>
                                        </span>
                                    </a>
                                    <a class="dt-button buttons-pdf buttons-flash btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Export to PDF">
                                        <span>
                                            <i class="fa fa-file-pdf-o bigger-110"></i>
                                            <span class="hidden">Export to PDF</span>
                                        </span>
                                    </a>
                                    <a class="dt-button buttons-print btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Print">
                                        <span>
                                            <i class="fa fa-print bigger-110"></i>
                                            <span class="hidden">Print</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard listBatch">
                               @{ Html.RenderAction("BatchList", "Admin", new {area="Admin" });}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ Base style table -->
    </div>
</div>

<div class="col-lg-12">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <label class="modal-title text-text-bold-600">Batch Entry & Modify</label>
                    </h4>
                    <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body recoPas">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function fnAddBatch(id) {
        if (id!=null && id!='') {
            $('.modal-body').load('/Admin/Admin/AddBatch/'+id, function () { $("#myModal").modal('show'); });
        }
        else {
            $('.modal-body').load('/Admin/Admin/AddBatch/', function () { $("#myModal").modal('show'); });
        }

    }
    function fnSaveBatch(batchId) {

        if ($('#BatchName').val() == '') {
            alert('Batch Name is required.');
        }
        else if ($('#BatchDesc').val()=='') {
             alert('Batch Desc is required.');
        }
        else {


            var model = {
                BatchID: batchId,
                BatchName: $('#BatchName').val(),
                BatchDesc: $('#BatchDesc').val()
            };

            $.ajax({
                url: '@Url.Action("SaveBatch", "Admin",new {area="Admin" })',
                data: JSON.stringify(model),
                type: 'POST',
                cache: false,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result > 0) {
                        alert('Data Save Successfully.');
                        $("#myModal").modal('hide');
                        fnLoadBatchList();
                    }
                },
                error: function (e) {
                    alert(e);
                }
            });
        }
    }
    function fnViewBatch(id) {
        $('.modal-body').load('/Admin/Admin/BatchView/'+id, function () { $("#myModal").modal('show'); });
    }
    function fnLoadBatchList() {
        $('.listBatch').load('/Admin/Admin/BatchList');
    }
     function fnDeleteBatch(batchId) {

         if (confirm("Are you sure?")) {
              var model = {
            BatchID: batchId
         };
             $.ajax({
            url: '@Url.Action("DeleteBatch", "Admin",new {area="Admin" })',
            data: JSON.stringify(model),
                type: 'POST',
                cache: false,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result>0) {
                        alert('Batch has been deleted Successfully.');

                        fnLoadBatchList();
                    }
                },
                error: function (e) {
                    alert(e);
                }
            });
         }

    }
</script>