
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
    ViewBag.Title = "Examination Name";
}

<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Base style table -->
        <section id="base-style">
            <div class="row">
                <div class="col-12">
                    <div class="cardk">
                        <div class="card-header">
                            <h4 class="card-title">Examination Name Records</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="form-group pull-left" style="padding-left:22px; padding-top:10px;">
                                <select class="custom-select block" id="ddlStatus">
                                    <option selected value="">Action</option>
                                    <option value="A">Active</option>
                                    <option value="I">Inactive</option>
                                </select>
                            </div>
                            <div class="pull-right tableTools-container" style="padding-right:22px; padding-top:10px;">
                                <div class="dt-buttons btn-overlap btn-group">
                                    <a class="dt-button buttons-copy buttons-html5 btn btn-white btn-primary btn-bold" onclick="fnAddExaminationName()" title="Add Program Versioning">
                                        <span>
                                            <i class="fa fa-plus bigger-110" style="color:#ffffff"></i>
                                            <span class="hidden">Add</span>
                                        </span>
                                    </a>
                                    <a class="dt-button buttons-excel buttons-flash btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Export to Excel">
                                            <span>
                                                <i class="fa fa-file-excel-o bigger-110"></i>
                                                <span class="hidden">Export to Excel</span>
                                            </span>
                                        </a>
                                        <a class="dt-button buttons-pdf buttons-flash btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Export to PDF">
                                            <span>
                                                <i class="fa fa-file-pdf-o bigger-110"></i>
                                                <span class="hidden">Export to PDF</span>
                                            </span>
                                        </a>
                                        <a class="dt-button buttons-print btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Print">
                                            <span>
                                                <i class="fa fa-print bigger-110"></i>
                                                <span class="hidden">Print</span>
                                            </span>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard listExaminationName">
                                @{ Html.RenderAction("ExaminationNameList", "Admin", new { area = "Admin" });}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ Base style table -->
    </div>
</div>
<div class="col-lg-12">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <label class="modal-title text-text-bold-600">Examination Name Entry & Modify/View</label>
                    </h4>
                    <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body recoPas">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('li a[href*="ExaminationName"]').parent('li').addClass('active');
        $("#ddlStatus").change(function () {
           
            if ($('#ddlStatus').val() != '' && $('#ddlStatus').val() != null) {

                var statusIdstr = [];
                $.each($(".statusCheck:checked"), function () {
                    statusIdstr.push($(this).attr('data-id'));
                });
                if (statusIdstr.length > 0) {
                    if (confirm('Are you sure?')) {
                        var model = {
                            ID: statusIdstr.join(','),
                            Active: $('#ddlStatus').val(),
                            Table: "ExaminationName"
                        };

                        $.ajax({
                            url: '@Url.Action("ChangeAllStatus", "Admin",new {area="Admin" })',
                            data: JSON.stringify(model),
                            type: 'POST',
                            cache: false,
                            contentType: "application/json;charset=utf-8",
                            dataType: "json",
                            success: function (result) {
                                if (result > 0) {
                                    alert('Status has been changed Successfully.');
                                    $('#ddlStatus').val('');
                                    fnLoadExaminationNameList();
                                }
                                else {
                                    alert('Error in your request.');


                                }
                            },
                            error: function (e) {
                                alert('Error in your requst.');
                            }
                        });
                    }


                }
                else {
                    alert('Please select an Item.');
                    $('#ddlStatus').val('');
                }
            }
        });
    });

    function fnAddExaminationName(id) {
        if (id != null && id != '') {
            $('.modal-body').load('/Admin/Admin/AddExaminationName/' + id, function () { $("#myModal").modal('show'); });
        }
        else {
            $('.modal-body').load('/Admin/Admin/AddExaminationName/', function () { $("#myModal").modal('show'); });
        }

    }
    function fnSaveExaminationName(ExaminationNameID) {
        $('.valClass').css({ 'display': 'none' });
        if ($('#ExaminationName').val() == '') {
            $('#ExaminationName').focus();
            $('#ExaminationNameVal').html('Examination Name is required.');
            $('#ExaminationNameVal').css({ 'display': 'block' });
        }
        else if ($('#StartDate').val() == '') {           
            $('#StartDateVal').html('Start Date is required.');
            $('#StartDateVal').css({ 'display': 'block' });
        }
        else if ($('#EndDate').val() == '') {            
            $('#EndDateVal').html('End Date is required.');
            $('#EndDateVal').css({ 'display': 'block' });
        }
        else {


            var model = {
                ExaminationNameID: ExaminationNameID,
                ExaminationName: $('#ExaminationName').val(),
                StartDate: $('#StartDate').val(),
                EndDate: $('#EndDate').val(),
                Active: 'A'
            };

            $.ajax({
                url: '@Url.Action("SaveExaminationName", "Admin",new {area="Admin" })',
                data: JSON.stringify(model),
                type: 'POST',
                cache: false,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result > 0) {
                        alert('Data Save Successfully.');
                        $("#myModal").modal('hide');
                        fnLoadExaminationNameList();
                    } else {
                        alert('Error in your requst.');
                        $("#myModal").modal('hide');

                    }
                },
                error: function (e) {
                    alert('Error in your requst.');
                }
            });
        }
    }
    function fnViewExaminationName(id) {
        $('.modal-body').load('/Admin/Admin/ExaminationNameView/' + id, function () { $("#myModal").modal('show'); });
    }
    function fnLoadExaminationNameList() {
        $('.listExaminationName').load('/Admin/Admin/ExaminationNameList');
    }
    function fnDeleteExaminationName(ExaminationNameID) {

        if (confirm("Are you sure?")) {
            var model = {
                ExaminationNameID: ExaminationNameID
            };
            $.ajax({
                url: '@Url.Action("DeleteExaminationName", "Admin",new {area="Admin" })',
                data: JSON.stringify(model),
                type: 'POST',
                cache: false,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result > 0) {
                        alert('Examination Name has been deleted Successfully.');

                        fnLoadExaminationNameList();
                    }
                },
                error: function (e) {
                    alert('Error in your requst.');
                }
            });
        }

    }
</script>

