
@{
    ViewBag.Title = "Student";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}



<section id="base-style">
    <div class="row">
        <div class="col-12">
            <div class="cardk">
                <div class="card-header">
                    <h4 class="card-title">Student Records</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="form-group pull-left" style="padding-left:22px; padding-top:10px;">
                        <select class="custom-select block" id="ddlLanguage">
                            <option selected>Action</option>
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>
                    </div>
                    <div class="pull-right tableTools-container" style="padding-right:22px; padding-top:10px;">
                        <div class="dt-buttons btn-overlap btn-group">
                            <a class="dt-button buttons-copy buttons-html5 btn btn-white btn-primary btn-bold" onclick="fnAddStudent()" title="Add Student Entry">
                                <span>
                                    <i class="fa fa-plus bigger-110" style="color:#ffffff"></i>
                                    <span class="hidden">Add</span>
                                </span>
                            </a>
                            <a class="dt-button buttons-excel buttons-flash btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Export to Excel">
                                <span>
                                    <i class="fa fa-file-excel-o bigger-110"></i>
                                    <span class="hidden">Export to Excel</span>
                                </span>
                            </a>
                            <a class="dt-button buttons-pdf buttons-flash btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Export to PDF">
                                <span>
                                    <i class="fa fa-file-pdf-o bigger-110"></i>
                                    <span class="hidden">Export to PDF</span>
                                </span>
                            </a>
                            <a class="dt-button buttons-print btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Print">
                                <span>
                                    <i class="fa fa-print bigger-110"></i>
                                    <span class="hidden">Print</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard listStudent">
                        @{Html.RenderAction("StudentList", "Admin", new {area="Admin" }); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-lg-12">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <label class="modal-title text-text-bold-600">Student Entry & Modify</label>
                    </h4>
                    <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body recoPas">
                   
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function fnChangeStatus(id, status) {
        if (confirm("Are you sure?")) {
            var model = {
                StudentID: id,
                Active: status
            };

            $.ajax({
                url: '@Url.Action("SaveStudent", "Admin",new {area="Admin" })',
                data: JSON.stringify(model),
                type: 'POST',
                cache: false,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result > 0) {
                        alert('Status has been changed Successfully.');
                        fnLoadStudentList();
                    }
                    else {
                        alert('Error in your requst.');
                        $("#myModal").modal('hide');

                    }
                },
                error: function (e) {
                    alert('Error in your requst.');
                }
            });
        }
    }
    function fnAddStudent(id) {
        if (id!=null && id!='') {
            $('.modal-body').load('/Admin/Admin/AddStudent/' + id, function () { $("#myModal").modal('show'); });
        }
        else {
            $('.modal-body').load('/Admin/Admin/AddStudent/', function () { $("#myModal").modal('show'); });
        }

    }
    function fnSaveStudent(studentId) {

        if ($('#StudentName').val() == '') {
            alert('Student Name is required.');
        }
        else if ($('#BatchID').val() == '' ) {
             alert('Please select batch.');
        }
        else if ($('#EmailID').val() == '') {
            alert('EmailID is required.');
        }
        else if ($('#RollNo').val() == '') {
            alert('RollNo is required.');
        }
        else if ($('#MobileNo').val() == '') {
            alert('MobileNo is required.');
        }
        else if ($('#Password').val() == '') {
            alert('Password is required.');
        }
        else {

            var model = {
                StudentID: studentId,
                BatchID: $('#BatchID').val(),
                EmailID: $('#EmailID').val(),
                RollNo: $('#RollNo').val(),
                MobileNo: $('#MobileNo').val(),
                StudentName: $('#StudentName').val(),
                Password: $('#Password').val(),
                Active: 'A'
            };

            $.ajax({
                url: '@Url.Action("SaveStudent", "Admin",new {area="Admin" })',
                data: JSON.stringify(model),
                type: 'POST',
                cache: false,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result > 0) {
                        alert('Data Save Successfully.');
                        $("#myModal").modal('hide');
                        fnLoadStudentList();
                    }
                    else {
                        alert('Error in your requst.');
                        $("#myModal").modal('hide');

                    }
                },
                error: function (e) {
                    alert('Error in your requst.');
                }
            });
        }
    }
    function fnViewStudent(id) {
        $('.modal-body').load('/Admin/Admin/StudentView/'+id, function () { $("#myModal").modal('show'); });
    }
    function fnLoadStudentList() {
        $('.listStudent').load('/Admin/Admin/StudentList');
    }
     function fnDeleteStudent(studentId) {

         if (confirm("Are you sure?")) {
              var model = {
                  StudentID: studentId
         };
             $.ajax({
            url: '@Url.Action("DeleteStudent", "Admin",new {area="Admin" })',
            data: JSON.stringify(model),
                type: 'POST',
                cache: false,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result>0) {
                        alert('Student has been deleted Successfully.');

                        fnLoadStudentList();
                    }
                },
                error: function (e) {
                    alert(e);
                }
            });
         }

    }
</script>